.openFolder {
    border: 1px solid #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goBackbtn {
    width: 150px;
    font-size: 16px;
    padding: 15px;
    border: solid 1px #000000;
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
}

.goBackbtn:hover {
    border: 1px solid blue;
    color: blue;
}