.folder {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #000000;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.folder:hover {
    border: 1px solid rgb(211, 141, 10);
    color: rgb(211, 141, 10);
}

.selected {
    background-color: rgb(211, 141, 10);
    color: #000000;
    border: 1px solid #000000;
}

.selected:hover {
    color: #ffffff;
}