.NoteListNav {
    display: flex;
    flex-direction: column;
}

.NoteListNav_list {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
}

.NoteListNav_folderLink {
    padding: 15px 25px;
    margin: 5px auto;
    background-color: #030f1f;
    color: #b5b3b3;
    display: block;
    font-size: 20px;
    max-width: 180px;
    text-decoration: none;
}

.NoteListNav_folderLink:hover {
    color: #FFB72F;
    cursor: pointer;
}

.NoteListNav_num-notes {
    color: #adadad;
    display: block;
    float: right;
    font-size: 10px;
  }