.note {
    border: 1px solid #000000;
    padding: 10px;
}

h3 {
    margin: 5px;
}

.noteInfo {
    display: flex;
    justify-content: space-between;
}

.deleteNotebtn {
    padding: 5px;
    font-size: 14px;
}