.App {
    width: 100%;
    padding: 10px;
}

.noteHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.mainDisplay {
    display: flex;
}

.sidebar {
    flex: 1;
}

.listDisplay {
    flex: 3;
}